<h1>Welcome to the NREL Landing Page</h1>
<%= form_tag("/search", method: "get") do  %>
  <%= label_tag(:zipcode, "Search:") %>
  <%= text_field_tag(:zipcode) %>
  <%= submit_tag("Search") %>
<% end %>
